<template>
    <v-layout column fill-height>
        <v-flex>
            <v-navigation-drawer ref="navDrawer" permanent expand-on-hover v-model="drawer" @transitionend="toggleOpen"> 
                <template v-slot:prepend>
                    <v-layout column>
                        <v-flex class="pa-2">
                            <div v-if="!open" class="v-input v-text-field v-text-field--is-booted">
                                <v-icon>search</v-icon>
                            </div>
                            <v-text-field ref="searchField" v-if="open" v-model="folderFilter"></v-text-field>
                        </v-flex>
                    </v-layout>
                </template>

                <v-divider></v-divider>

                <v-list nav dense link>
                    <v-list-item v-for="item in categories" v-bind:key="item.id">
                        <v-list-item-content>
                            <v-list-item-title>{{item.name}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </v-flex>
    </v-layout>
        <!--
        <v-layout row>

            <v-flex style='max-width: 200px'>
            </v-flex>
            <v-flex>
                <router-view></router-view>
            </v-flex>
        </v-layout>-->
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import { NodeCategory } from '@/core/entities';
import {State, namespace} from 'vuex-class';
import {ModuleNames} from '@/store/modules';
import { HeadWorldMetaDataState } from '../../store/modules/HeadWorldMetaData';

const metadata = namespace(ModuleNames.HeadWorldsMetaData);

@Component({
    components: {},
})
export default class DetailsPane extends Vue {

    @metadata.State('nodeCategories')
    public categories!:NodeCategory[];


    public open: boolean = false;

    public drawer = true;
    public folderFilter = "";

    toggleOpen(event:any) {
        this.open = (this.$refs.navDrawer as any).classes["v-navigation-drawer--is-mouseover"];
        if(this.open) {
            this.$nextTick(() => {
                (this.$refs.searchField as any).focus()
            });
        }

    }
}
</script>
