<template>
    <network-graph @click="handleClick" @doubleClick="handleDoubleClick"></network-graph>
</template>

<script lang="ts">
import { Network, Data, Options, Properties } from 'vis';
import { Component, Vue } from 'vue-property-decorator';
import { IClickHandlerOptions, ClickHandler } from '@/core/ClickHandler';
import { NetworkGraph } from '@/components';
import { Action } from 'vuex-class';
import { OrderedPair } from '@/store/modules/Network';
import {ActionTypes} from '@/store/modules/Network/constants';
const namespace = 'Network';

@Component({
  components: {
      NetworkGraph,
  },
})
export default class Graph extends Vue {
    @Action(ActionTypes.ADD_NODE.toString(), {namespace})
    public addNode!: (payload: {node: number}) => {};

    private selectedNodeId: number | null = null;
    constructor() {
        super();
    }

    public handleClick({selectedNodeId}: {selectedNodeId: number}) {
        this.selectedNodeId = selectedNodeId;
    }
    public handleDoubleClick({selectedNodeId}: {selectedNodeId: number}) {
        this.selectedNodeId = selectedNodeId;
        this.addNode({node: 5});
    }
}
</script>

<style lang="scss">
</style>

