<template>
<v-layout column fill-height>
  <v-flex grow-shrink-0>
    <v-tabs centered grow>
      <v-tab to='/app/vis'>Overview</v-tab>
      <v-tab to='/app/folders'> Details</v-tab>
    </v-tabs>
  </v-flex>
  <v-flex fill-height>
    <router-view></router-view> 
  </v-flex>
</v-layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
  components: {
  },
})
export default class MainApp extends Vue {

}
</script>