<template>
  <v-layout row align-center justify-center fill-height>
    <homepage-main-card></homepage-main-card>
  </v-layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import {ActionTypes as FileActionTypes, GetterTypes as FileGetterTypes} from '@/store/modules/RecentFiles/constants';
import {ActionTypes as ElectronActionTypes} from '@/store/modules/Electron/constants';
import {HomepageMainCard} from '@/components';
const recentFilesNamespace = 'RecentFiles';
const electronNamespace = 'Electron';
@Component({
  components: {
    HomepageMainCard,
  },
})
export default class Home extends Vue {
  @Action(FileActionTypes.LOAD_RECENT_FILES, {namespace: recentFilesNamespace})
  public loadRecentFiles!: () => {};

  @Getter(FileGetterTypes.LAST_3_FILES, {namespace: recentFilesNamespace})
  public last3Files!: string[];

  @Action(ElectronActionTypes.OPEN_FILE, {namespace: electronNamespace})
  public open!: () => {};

  constructor() {
    super();
    this.loadRecentFiles();
  }
}
</script>