<template>
  <div>
    <v-card v-if="!createClicked" min-width="400" max-width="800" min-height="200">
      <v-card-title class="title">HeadWorlds</v-card-title>
      <v-card-text class="subheader">An application for organizing lore</v-card-text>
      <v-card-actions>
        <v-btn text @click="open()">Open</v-btn><v-btn color="primary" text @click="toggleCreateClicked()">Create</v-btn>
      </v-card-actions>
      <v-list dense>
        <v-subheader>Recently opened HeadWorlds</v-subheader>
        <v-list-item v-for="world in last3Files" v-bind:key="world" @click="openRecentFile(world)">
          <v-list-item-title>{{world}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
    <v-card v-if="createClicked" min-width="400" max-width="800" min-height="200">
      <v-card-title class="title">Create a new Headworld</v-card-title>
      <v-content>
        <v-text-field
          id="HeadworldName"
          name="Headworld_Name"
          label="Headworld Name"
          v-model="headworldName"
          single-line
          prepend-icon="mdi-earth"
          class="mx-2"
        ></v-text-field>
      </v-content>
      <v-card-actions>
        <v-btn text @click="create()">Create</v-btn><v-btn color="secondary" text @click="cancel()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import {ActionTypes as FileActionTypes, GetterTypes as FileGetterTypes} from '@/store/modules/RecentFiles/constants';
import {ActionTypes as ElectronActionTypes} from '@/store/modules/Electron/constants';
import {ActionTypes as DBActionTypes} from '@/store/modules/DatabaseConnectionManager/constants';
const recentFilesNamespace = 'RecentFiles';
const electronNamespace = 'Electron';
const dbNamespace = 'DatabaseConnectionManager';
@Component({
  components: {
  },
})
export default class HomepageMainCard extends Vue {
  @Action(FileActionTypes.LOAD_RECENT_FILES, {namespace: recentFilesNamespace})
  public loadRecentFiles!: () => {};

  @Getter(FileGetterTypes.LAST_3_FILES, {namespace: recentFilesNamespace})
  public last3Files!: string[];

  @Action(ElectronActionTypes.OPEN_FILE, {namespace: electronNamespace})
  public openFile!: () => string;
  @Action(ElectronActionTypes.OPEN_FOLDER, {namespace: electronNamespace})
  public openFolder!: () => string;

  @Action(DBActionTypes.CREATE_CONNECTION, {namespace: dbNamespace})
  public createConnection!: ({filepath}: {filepath: string}) => {};


  public createClicked: boolean;
  public headworldName: string;
  constructor() {
    super();
    this.loadRecentFiles();
    this.createClicked = false;
    this.headworldName = '';
  }

  public open() {
    this.openFile();
  }

  public openRecentFile(filepath: string) {
    this.createConnection({filepath});
  }
  public toggleCreateClicked() {
    this.createClicked = !this.createClicked;
  }
  public cancel() {
    this.headworldName = '';
    this.createClicked = false;
  }
  public async create() {
    let folder = await this.openFolder();
    if (folder) {
      if (!folder.endsWith('/')) {
        folder += '/';
      }
      const filepath = folder + this.convertHeadWorldNameToFilePath();
      await this.createConnection({filepath});
      this.cancel();
    }
  }

  private convertHeadWorldNameToFilePath() {
    return this.headworldName.replace(' ', '_') + '.hw';
  }
}
</script>