<template>
    <v-layout column fill-height style="position: relative">
        <v-flex ref="network">
        </v-flex>
        <network-graph-fab style="position: absolute; bottom: 16px; right: 0;"></network-graph-fab>
    </v-layout>
</template>
<script lang="ts">
import Vue from 'vue';
import {Component, Prop} from 'vue-property-decorator';
import { Network, Options, Data, Properties, DataSet, Node, Edge } from 'vis';
import { ClickHandler } from '../core/ClickHandler';
import {State, Action, Getter} from 'vuex-class';
import { NetworkState } from '@/store/modules/Network';
import { MutationTypes } from '../store/modules/Network/constants';
import { MutationPayload } from 'vuex';
import {GetterTypes} from '@/store/modules/Network/constants';
const namespace = 'Network';
import NetworkGraphFab from '@/components/NetworkGraphFab.vue';
@Component({
    components: {
        NetworkGraphFab
    },
})
export default class NetworkGraph extends Vue {

    @Getter(GetterTypes.NODE_OBJECTS, {namespace}) public nodeObjects!: Node[];
    @Getter(GetterTypes.EDGE_OBJECTS, {namespace}) public edgeObjects!: Edge[];

    private network?: Network;
    private clickHandler: ClickHandler;
    constructor() {
        super();
        this.clickHandler = new ClickHandler({
            onClick: this.click,
            onDoubleClick: this.doubleClick,
            doubleClickWait: 250,
        });
    }

    public mounted() {
        const element = this.$refs.network;
        const options: Options = {};

        const data: Data = {
            nodes: this.nodeObjects,
            edges: this.edgeObjects,
        };

        this.network = new Network(element as HTMLElement, data, options);
        this.network.on('click', (properties) => { this.clickHandler.onClickHandler(properties); });
        this.network.on('doubleClick', (properties) => {this.clickHandler.onDoubleClickHandler(properties); });
        this.$store.subscribe((mutation, state) => {
            if (this.mutationShouldModifyData(mutation) && this.network) {
                const newData: Data = {
                    nodes: this.nodeObjects,
                    edges: this.edgeObjects,
                };
                this.network.setData(newData);
            }
        });
    }

    public click(properties: Properties) {
        if (properties.nodes.length > 0) {
            const selectedNodeId = properties.nodes[0];
            this.$emit('click', {selectedNodeId});

        }
    }
    public doubleClick(properties: Properties) {
        if (properties.nodes.length > 0) {
            const selectedNodeId = properties.nodes[0];
            this.$emit('doubleClick', {selectedNodeId});
        }
    }

    private mutationShouldModifyData(mutation: MutationPayload) {
        return (mutation.type === `${namespace}/${MutationTypes.ADD_NODE}` ||
            mutation.type === `${namespace}/${MutationTypes.ADD_EDGE}` ||
            mutation.type === `${namespace}/${MutationTypes.SET_NODES}` ||
            mutation.type === `${namespace}/${MutationTypes.SET_EDGES}`);
    }


}
</script>
