<template>
    <div>
    <v-speed-dial
        v-model="fab"
        right
        direction="top"
        open-on-hover
        transition="slide-y-reverse-transition">
        <template v-slot:activator>
            <v-btn
                v-model="fab"
                color="blue darken-2"
                dark
                fab>
            <v-icon v-if="fab">close</v-icon>
            <v-icon v-else>menu</v-icon>
            </v-btn>
        </template>
        <v-btn
            fab
            dark
            small
            color="indigo">
            <v-icon>add</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="green">
            <v-icon>edit</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="red">
            <v-icon>close</v-icon>
        </v-btn>
    </v-speed-dial>
    </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
@Component({
    components: {},
})
export default class NetworkGraphFab extends Vue {
    public fab: boolean = false;
}

</script>
