<template>
  <v-app id="application">
    <router-view/>
  </v-app>
</template>

<style lang="scss">
* {
  box-sizing: border-box;
}
html, body, #application {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
</style>
